.NewEmployeePage
    
    .AddNew_Title Edit Employee
    
    .AddNew_Form
        = form_tag employee_path(@employee), :method => :put do
            = render :partial => 'form'
        = form_tag employees_path, :method => :get do
            .CancelChanges
                = submit_tag 'Cancel Changes', class: 'Cancel'
            
        
        