<TABLE BORDER=10 CELLSPACING=10 CELLPADDING=10>
<TR>
<TD COLSPAN="7" ALIGN=center><B>EmployeeName</B></TD>
</TR>

<TR>
<TD COLSPAN="7" ALIGN=center><I>Week-of-mm/dd/yyyy - Other info</I></TD>
</TR>

<TR>
<TD ALIGN=center>Sun</TD>
<TD ALIGN=center>Mon</TD>
<TD ALIGN=center>Tue</TD>
<TD ALIGN=center>Wed</TD>
<TD ALIGN=center>Thu</TD>
<TD ALIGN=center>Fri</TD>
<TD ALIGN=center>Sat</TD>
</TR>

<TR>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center></TD>
<TD ALIGN=center>1</TD>
</TR>

</TR>

</TABLE> 