.NewRequestsPage
    
    .AddNew_Title Create New Request
    
    .AddNew_Form
        = form_tag requests_path, :method => :post do
            = render :partial => 'form'
        = form_tag requests_path, :method => :get do
            .CancelChanges
                = submit_tag 'Cancel Changes', class: 'Cancel'