html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ea5a49;
}

.navbar-left > li {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar-right > li{
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.brand > a {
  font-weight: bold;
  color: white;
}

.brand a:hover {
  color: white;
  text-decoration: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

li.nav a:hover,
li.nav a:focus,
.dropdown:hover .dropbtn {
  color: white;
  background-color: #ec6b5c;
  text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
  border: 1px solid #f1f1f1;
}

.dropdown-content > li a:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #323e48;
  padding-bottom: .75%;
  margin: 0;
  height: 35px;
}

.foot > .footer {
  color: #818b98;
  padding-right: 2%;
  text-align: right;
}

#notice {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

/***************END APPLICATION***************/
/***************START EMPLOYEE INDEX***************/

#employees table{
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
#employees th {
  font-size: 11pt;
  font-weight: bold;
  color: white;
  background-color: #552d42;
  height: 60px;
}

#employees td {
  font-size: 13px;
  height: 35px;
}
#employees .row_info:nth-child(even) {
  background: #f6f6f6;
}

#employees .row_info:hover {
  background-color: #eaeaea;
}

#employee employee_actions {
  width: 100%;
}

#employees .emp_actions {
  margin: 0;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #eaeaea;
}

#employees .emp_actions > li a{
  display: inline-block;
  text-decoration: none;
  float: left;
}

#employees .emp {
  margin-left: 5%;
}

#employees .emp a {
  margin-left: 2%;
  font-size: 9pt;
  color: white;
  background-color: #59a8b8;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
}

#employees .option {
  margin-left: 15px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 80px;
  font-size: 10pt;
  color: white;
  background-color: #7a3b5c;
  border-radius: 15px;
  text-decoration: none;
}

#employees .option > p{
  display: inline-block;
  margin-top: 2.75px;
}

/***************END EMPLOYEE INDEX***************/
/***************START ADD EMPLOYEE PAGE***************/

.NewEmployeePage{
  margin-top: 3%;
  width: 20%;
  /*border: 2px solid black;    #D8D8D8   */
  background-color: #59a8b8;
  margin: 2% auto;
  padding-top: 6px;
  padding-bottom: 4%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 25px;
}

.AddNew_Title{
  font-size: 2.5em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
}

.EmpType{
  margin-top: 15px;
}

 .EmpType label, .DateOfBirth label{
  color: white;
  margin-left: 14%;
  text-align: left;
  display: block;
  line-height: 30px;
  font-weight: bold;
  margin-top: 8px;
}

.AddNew_Form{
  text-align: left;
}

input[type=text]{
  margin-left: 14%;
  width: 275px;
  height: 26px;
  margin-top: 16px;
}

.EmpType select{
  margin-left: 14%;
  height: 26px;
  width: 280px;
}

textarea{
  margin-left: 14%;
  width: 273px;
  margin-top: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: -4px;
}

.DateOfBirth{
  margin-left: 14%;
}

.DateOfBirth label{
  margin-left: 0%;
}

.DateOfBirth select{
  width: 91px;
  height: 26px;
}

.SaveChanges{
  float: right;
  margin-right: 15.75%;
  margin-top: 20px;
}

.CancelChanges{
  float: left;
  margin-left: 17.75%;
  margin-top: 20px;
}

.AddEmployeeButtons{
  width: 20%;
}

.Save, .Cancel{
  width: 120px;
  height: 32px;
  color: white;
  background-color: #552d42;
  text-decoration: none;
  border: none;
  text-align: center;
  margin: 0px 2px;
  border-radius: 25px;
}
.Save:hover, .Cancel:hover{
  background-color: #442434;
}

.Link{
  color: white;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
  height: 10px;
  width: 80px;
  font-size: 10pt;
  background-color: #7a3b5c;
  border-radius: 15px;
}
.Link-Edit{
  float: right;
  color: white;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 80px;
  font-size: 10pt;
  background-color: #7a3b5c;
  border-radius: 15px;
  padding-top: 3px;
}
.Link-Delete{
  float: left;
  color: white;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 80px;
  font-size: 10pt;
  background-color: #7a3b5c;
  border-radius: 15px;
  padding-top: 3px;
}


/***************END ADD EMPLOYEE PAGE***************/
/***************START SCHEDULE INDEX PAGE***************/


#shifts table{
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
#shifts th {
  font-size: 11pt;
  font-weight: bold;
  color: white;
  background-color: #552d42;
  height: 60px;
}

#shifts td {
  font-size: 13px;
  height: 35px;
  border-style: solid;
  border-width: 1px;
}
#gap {
  background-color: #ccc;
}
#shifts .row_info:nth-child(even) {
  background: #f6f6f6;
}

#shifts .row_info:hover {
  background-color: #eaeaea;
}

#shift employee_actions {
  width: 100%;
}

#shifts .emp_actions {
  margin: 0;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #eaeaea;
}

#shifts .emp_actions > li a{
  display: inline-block;
  text-decoration: none;
  float: left;
}

#shifts .emp {
  margin-left: 5%;
}

#shifts .emp a {
  margin-left: 2%;
  font-size: 9pt;
  color: white;
  background-color: #59a8b8;
  border-radius: 15px;
  font-weight: bold;
  text-decoration: none;
}

#shifts .option {
  margin-left: 15px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 80px;
  font-size: 10pt;
  color: white;
  background-color: #7a3b5c;
  border-radius: 15px;
  text-decoration: none;
}

#shifts .option > p{
  display: inline-block;
  margin-top: 2.75px;
}