html {
    font-family: "Arial", sans-serif;
}

.title_home {
    font-size: xx-large;
    text-align: center;
    margin-top: 15%;
}
.signin_info {
    margin: auto;
    width: 34%;
}
#employees {
  margin: 10px;
  border-collapse: collapse;
  width: 60%;
  border-bottom: 2px solid black;
}
#employees th {
  border: 2px solid white;
  font-weight: bold;
  color: white;
  background-color: #1166EF;
}